.Nav-Items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background: #343434;
}

.A-tag {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

